* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  background-color: hsl(30, 54%, 90%);
  justify-content: center;
  margin-top: 30px;
}

.container {
  width: 700px;
  height: 1450px;
  margin-bottom: 60px;
  background-color: rgb(255, 247, 247);
  border-radius: 3%;
  border: none;
}

.photo {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.photo img {
  width: 450px;
  height: 300px;
  border-radius: 5%;
}

.title {
  font-family: "Outfit", sans-serif;
  margin-top: 10px;
  margin-left: 40px;
  color: hsl(14, 45%, 36%);
}

.descrition {
  margin-top: 10px;
  margin-left: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;

  margin-right: 10px;
}
.descrition p {
  margin-top: 5px;
}

.ingredients {
  width: 650px;
  background-color: hsl(330, 89%, 96%);
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5%;
}

h2 {
  margin-top: 30px;
  color: hsl(14, 45%, 36%);
  margin-left: 40px;
  font-size: 26px;
}

.ingredients p {
  margin-top: 5px;
  gap: 5px;
  font-size: 18px;
  margin-left: 20px;
  font-family: "Montserrat", sans-serif;
}

hr {
  opacity: 30%;
  margin-top: 20px;
  margin: auto;
  display: flex;
  width: 650px;
  margin-top: 20px;
}

.preparation {
  width: 650px;
  background-color: hsl(330, 89%, 96%);
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5%;
}

.preparation p {
  display: flex;
  margin-top: 10px;
  gap: 5px;
  font-size: 18px;
  margin-left: 20px;
  font-family: "Montserrat", sans-serif;
}

.photoready {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.photoready img {
  width: 450px;
  height: 300px;
  border-radius: 5%;
}
